<div class="col-sm-6" style="background-color:yellow;">
    <span>
        <a href="/getId/:id" id="{{id}}">
            <div class="card" style="width: 18rem;">
                <img src="{{picture}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{tripTitle}}</p>
                    <small>Tip Start Date: {{tripStart}}</small>
                    <br>
                    <small>Trip End Date: {{tripEnd}}</small>
                    <br>
                    <small>ID: {{id}}</small>
                </div>
            </div>
        </a>
    </span>
</div>